.vs/ticaretix.backend/FileContentIndex/0b7a5f4c-c870-408e-a8aa-9e1de8783f40.vsidx
.vs/ticaretix.backend/FileContentIndex/39e0757d-beb8-453c-8ebc-04be93acdd81.vsidx
.vs/ticaretix.backend/FileContentIndex/ef76247d-a112-4ae1-bcc3-b4ff3dbc0b28.vsidx
.vs/ticaretix.backend/FileContentIndex/15f445ca-27b5-41a6-8ae9-57a4a1975b28.vsidx
.vs/ticaretix.backend/FileContentIndex/58004469-60bd-4a87-89ba-e299530c2f16.vsidx
.vs/ticaretix.backend/FileContentIndex/92ee3911-2d8f-4248-8fa9-2ad896381e4f.vsidx
.vs/ticaretix.backend/FileContentIndex/99b7ee05-d069-4d8d-ac0c-2dddc05b4b9f.vsidx
.vs/ticaretix.backend/FileContentIndex/94063ac9-9091-4292-ac9c-2c8656d9e020.vsidx
