.vs/ticaretix.backend/FileContentIndex/0b7a5f4c-c870-408e-a8aa-9e1de8783f40.vsidx
.vs/ticaretix.backend/FileContentIndex/39e0757d-beb8-453c-8ebc-04be93acdd81.vsidx
.vs/ticaretix.backend/FileContentIndex/ef76247d-a112-4ae1-bcc3-b4ff3dbc0b28.vsidx
